* {
  font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
}

/* -----Body, Header & Navigation----- */
body {
  padding-bottom: 4em;
}

header {
  background-color: #C96E12;
  padding: 0.25%;
}

.username {
  color: white;
  font-size: 12px;
  padding-right: 10px;
  text-align: right;
}


nav {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  color: white;
  display: flex;
  align-items: flex-end;
}

.nav-item {
  margin: 10px;
}

@media screen and (max-width: 800px) {
  .username {
    text-align: left;
    padding-left: 15px;
  }
  ul {
    flex-direction: column;
  }

  .nav-item {
    align-self: flex-start;
    margin: 5px;
    margin-left: -20px;
  }

  #logo {
    display: none;
  }
}

a {
  color: #ffffff;
  text-decoration: none;
}

/* ----- Card Grid Section ----- */

main {
  padding-right: 15px;
  padding-left: 15px;
}

h1 {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 32px;
  color: #2a49b8;
  text-shadow: 1px 1px black;
}

@media screen and (max-width: 674px) {
  .all-beer-cards {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

@media screen and (min-width: 675px) and (max-width: 949px) {
  .all-beer-cards {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}

@media screen and (min-width: 950px) and (max-width: 1219px) {
  .all-beer-cards {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}

@media screen and (min-width: 1220px) {
  .all-beer-cards {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}

.beer-card {
    box-shadow: 0 0 5px gray;
    background-color: #36454f;
    border-radius: 3%;
}

.card-background-image {
  height: 9em;
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 2;
  background-size: cover;
  border-radius: 3%;
}

.beer-icon {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  padding: .8em;
}

.ratebeer-score {
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
}

.score-title {
  text-align: right;
  padding-right: 1.2em;
  margin: .8em;
}

.score-number {
  text-align: right;
  padding-right: 1em;
  margin: .3em;
  font-size: 24px;
}

.card-content {
  padding: .9em;
}

h2,
h3,
h4,
h5 {
  color: white;
}

.beer-name {
  font-size: 18px;
  text-shadow: 1px 1px gray;
  margin-bottom: -.7em;
}

.brewery-name {
  font-size: 12px;
  color: #c0c2c4;
  margin-bottom: 2.5em;
}

.link-container {
  background-color: #2a49b8;
  opacity: 0.9;
  border-radius: 3%;
  font-size: 12px;
  padding: .9em;
  margin-bottom: 2.5em;
}

h4 {
  font-size: 12px;
  font-family: Impact, Charcoal, sans-sans-serif;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-shadow: 1px 1px gray;
}

.style-title {
  margin-bottom: -.8em;
}

.style-name {
  font-size: 18px;
  padding-bottom: .9em;
}

.ratings-title {
  margin-bottom: -2.1em;
}

.number-ratings {
  font-size: 30px;
  color: #C96E12;
  margin-bottom: .3em;
}
