* {
  font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
}

header {
  background-color: #C96E12;
}

.username {
  color: white;
}

nav {
  display: flex;
}

li {
  list-style: none;
  color: white;
}

.logo {

}

a {
  color: #ffffff;
  text-decoration: none;
}

.title.intro {
}

.all-beer-cards {
}

.beer-card {
}

.beer-card1 {
}

.beer-card2 {
}

.beer-card3 {
}

.beer-card4 {
}

.beer-card5 {
}

.beer-card6 {
}

.beer-card7 {
}

.beer-card8 {
}
