* {
  font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
}

header {
  background-color: #C96E12;
  text-align: right;
  color: white;
  padding: 0.25%;
}


nav {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  color: white;
  display: flex;
}

@media screen and (max-width: 600px) {
  header {
    text-align: left; 
  }
  ul {
    flex-direction: column;
  }
  #logo {
    display: none;
  }
}

.nav-item {
  align-self: flex-end;
  margin: 10px;
}


a {
  color: #ffffff;
  text-decoration: none;
}

.title.intro {
}

.all-beer-cards {
}

.beer-card {
}

.beer-card1 {
}

.beer-card2 {
}

.beer-card3 {
}

.beer-card4 {
}

.beer-card5 {
}

.beer-card6 {
}

.beer-card7 {
}

.beer-card8 {
}

.card-background {
  background-image: image();
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 2;
}
